@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins" !important;
}

h1,
h2,
h3,
h4 {

    font-family: 'Archivo Black', sans-serif;

}

hr {

    color: #00c12b !important;
    border-top: 3px solid !important;

}

.navbar-collapse {
    flex-basis: auto !important;

}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav {

    gap: 23px;
    font-weight: 600;
    text-transform: uppercase;
    z-index: 9999;
}

.navbar .me-auto {
    margin-right: 0 !important;
}

a.navbar-brand {
    width: 150px;
    text-align: center;
    height: 70px;
    margin-top: -40px;
    z-index: 9999;
}

.main-section {
    height: 86vh;
    /* margin-top: -127px; */
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 296px; */
    background-position: center;
}

img.brand {
    padding-top: 10px;
}

.invatrion-section-btn a.btn {
    margin-right: 41px;
    background: #00c12b;
    font-size: 17px;
    margin-top: 25px;
    color: #fff;
}

.Invation-content h1 {
    font-weight: 600;
}

.flex-size .col-6 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 40px 0px;
}

.main-section-btn .btn {
    font-weight: 800;
    font-size: 18px;
    margin-right: 39px;
    margin-top: 25px;
    background: transparent;
    color: #fff;
    border: 2px solid;
}

.second-section {
    padding: 60px 0px;
}

.navbar-brand span {
    text-transform: uppercase;
    font-weight: 600;
    color: #85934e;
    font-size: 20px;
}

.main-section .main-heading {
    text-transform: capitalize;
    font-size: 46px;
    font-weight: 600;
    color: #fff;
}

p.text-center.main-content {
    font-size: 18px;
    padding: 0px 100px;
    line-height: 2rem;
    padding-top: 25px;
    font-weight: 500;
}

.social-media svg {
    width: 30px;
    height: 20px;
}


/* flip box start ----------------- */
.flip-container {
    perspective: 1000px;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 100%;
    height: 400px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    background: #fff;
    border: 2px solid #00c12b;
}

.front h3 {
    color: #00c12b;
}

.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background: #ffffff;
    color: #010e05;
    padding: 40px 30px;
    box-shadow: 0px 3px 17px #0e0f0ea8;
}

.thumbnail {
    background: none;
    border: none;
}

.mb {
    margin-bottom: 20px;
}


.flip-box-section .col.mb {
    padding: 0px 35px;
}

.caption.text-center {
    padding: 20px 30px;
}

.flip-box-section {
    /* background: #f7f9eb; */
    /* background-image: linear-gradient(to right top, #b8db87, #d3ebed, #cde8d5, #b8db87d1, #bbe4f3); */
    padding: 60px 0px;
    text-align: center;
}

p.flip-p {
    padding: 25px 196px;
}

h1.flip-h1 {
    font-weight: 600;
}


.flip-box-section img {
    width: 50%;

    display: inline;
}

.back h2 {
    color: #00c12b;
    font-size: 29px;
    padding-bottom: 33px;
    font-weight: 600;
}

a.btn.btn-light.btn-colors {
    background: #00c12b;
    color: #fff;
}

/* flex box end ----------------------------------------- */


.content-align {
    padding: 0px 50px;
}

.section-sub-title-wrap {
    text-align: center;
    border: 2px solid #b4d9ff;
    border-radius: 50px;
    width: 190px;
    padding-top: 13px;
}

.tab-section {
    margin: 50px 0px;
    padding: 100px 0px;
    background: #e4f4f9;
    margin-bottom: 0px;
}

.invester-im img {
    width: 100%;
}

.invester-place.flex-size {
    margin-top: 125px;
}

h1.text-center.invest-heading21.pt-5 {
    font-size: 45px;
    font-weight: 600;
}

svg.bi.bi-record2-fill {
    width: 30px;
    height: 33px;
    color: #ed5658;
    padding-right: 1px;
}



/* testmonial-------------------------------------------- */
body {
    margin-top: 20px;
}

.post .article-v2 {
    padding: 0 15px;
}

.post .article-v2 .entry-title {
    font-size: 16px;
    color: #666666;
    font-weight: 600;
}

.post .article-v2 .article-header {
    margin-bottom: 15px;
}

.post .article-v2 .article-content-main {
    -webkit-box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
    padding: 30px;
    position: relative;
    background: #fff;
    margin-top: -75px;
}

@media only screen and (max-width: 1024px) {
    .post .article-v2 .article-content-main {
        padding: 15px;
        margin-bottom: 30px;
    }
}

.post .article-v2 .article-content p:last-of-type {
    margin-bottom: 0;
}

.post .article-v2 .article-thumb {
    position: relative;
    left: 25px;
    margin-bottom: 0;
}

.post .article-v2 .article-footer {
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    margin-top: 20px;
}

a.text-reset {
    text-decoration: none;
}

.post .article-v2 .article-footer .more-link {
    color: #ffa800;
}

.post .article-v2 .article-footer .footer-meta a {
    color: #aaa;
    font-size: 15px;
    margin-right: 5px;
}

.post .article-v2 .article-footer .footer-meta a i {
    font-size: 16px;
    margin-left: 2px;
}

.blog-section {
    margin: 84px 0px;
}

.row.blog-heading-section {
    padding-bottom: 50px;
}

.blog-section a {
    text-decoration: none;
}

.blog-section a.btn {
    color: #ffffff;
    border: 2px solid #00c12b;
    padding: 15px 30px;
    font-weight: 600;
    background: #00c12b;
}

/* testminal end---------------------------------------------------------- */
/* .main-second {
    position: absolute;
    background: #0e111166;
    top: 0;
    bottom: 0;
    padding-top: 322px;
    right: 0;
    left: 0;
    color: #fff;
} */

nav.navbar.navbar-expand-lg.navbar-light {

    height: 110px;
}

p.main-content {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.col-6.main-section-content {
    background: #090907a3;
    margin-top: 175px;
    padding: 24px;
}

.heading-renew p {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

p {
    font-size: 17px;
    line-height: 2rem;
}

.fade:not(.show) {
    opacity: 0;
    display: none;
}

.tab-section .nav-link {
    font-weight: 800;
    font-size: 20px;
    color: #000;
    gap: 20px;
    margin-top: 19px;
}

.heading-h1main {
    font-size: 50px;
}

.investing-pl-content h1 {
    color: #00c12b;
}

/* contact-from ---------------------------------------------------- */

.contact-from-section textarea.form-control {
    min-height: 170px !important;
}

.contact-from-section .form-control {
    padding: 1rem 0.75rem !important;

    border: 1px solid !important;

}

.contact-from-section label {
    display: inline-block;
    font-size: 18px;
}

.contact-from-section .col {
    margin: 0px 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-section {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-h1 {
    padding-top: 150px;
}

.my-100 {
    padding: 100px 0px;
}

h2.pb-3 {
    color: #00c12b;
}

.contact-info li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-from-section .container {

    margin-top: 100px;
    margin-bottom: 100px;
    /* box-shadow: 0px 0px 12px #5a5757ab; */
    padding: 50px;
}

.contact-info.my-100 {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}



.contact-from-section input[type="submit"] {
    background: #008000e6;
    padding: 16px 80px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* contact-from  end---------------------------------------------------- */
/* accordian csss ------------------------------------------------------------ */

.accordion-item {
    margin-bottom: 15px;
}


.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: #fff !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    border-color:none !important;
    box-shadow: none !important;
   }



/* accordian csss  end------------------------------------------------------------ */

footer {
    background: #198c19 !important;
    color: #fff;
}



/* about us ------------------------------------------------------------------------- */



.about-first-section .col {
    flex: 1 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-second-section .col {
    flex: 1 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-first-section p {
    font-size: 18px;
    padding-right: 45px;
}

.about-us-page h1 {
    font-size: 53px;
    font-weight: 600;
    margin-bottom: 50px;
}

.about-us-page {
    padding: 100px 0px;
}

.about-us-page p {
    font-size: 18px;
    line-height: 2rem;
}

.about-contents h3 {
    padding-top: 35px;
    font-weight: 600;
}

/* about us end ------------------------------------------------------------------------ */
/*services start ----------------------------------------------------------------------------- */
.services-pages {
    margin: 130px 0px;
}

.services-pages p {
    font-size: 17px;
    line-height: 2rem;
}

/* services start ----------------------------------------------------------------------------- */


/* F */


/* mobile view   */
/* /////////media query mobile view ---------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    .navbar-collapse.show {
        background: #fff;
        z-index: 9999;
        width: 100%;
        position: absolute;
        top: 110px;
        left: 0;
        padding-left: 28px;
        border-top: 1px solid #ccc;
    }
    
    .collapsing {
        background: #fff;
        z-index: 9999;
        width: 100%;
        position: absolute;
        top: 110px;
        left: 0;
        padding-left: 28px;
        border-top: 1px solid #ccc;
    }
    
    
    .main-section-btn.button-style.text-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-section-btn .btn {
     
        font-size: 12px;
        margin-right: 18px;
     
        padding: 12px !important;
    }
    p.main-content {
       
        font-size: 13px;
    }
    .main-section .main-heading {
    
        font-size: 32px;
      
    }
    p.flip-p {
        padding: 0;
    }
    .col-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
    .order-change {
        order: -19 !important;
    }
    .heading-h1main {
        font-size: 33px;
    }
    .invatrion-section-btn a.btn {
        margin-right: 20px;
        background: #00c12b;
        font-size: 15px;
        margin-top: 25px;
        color: #fff;
        padding: 16px !important;
    }
    .content-align {
        padding: 0;
        text-align: center;
    }
    a.navbar-brand {
        width: 130px;
        height: 60px;
        margin-top: -25px;
    }
    .navbar-toggler:focus {
  
        box-shadow: none !important;
    }
    .about-us-page h1 {
        font-size: 30px;

     
    }
    .blog-section {
        margin: 50px 0px;
    }
    .contact-from-section .col {
        margin: 0;
      
    }
    .my-100 {
        padding: 0px;
    }
    .contact-from-section .container {
        margin-top: 30px;
        padding: 30px;
    }
    .Invation-content {
        text-align: center;
    }
  }

  /* mobile view end  ------- */